RewriteEngine On

# Wenn eine Datei ohne .html nicht existiert, aber mit .html schon,
# dann leite automatisch auf die .html Datei weiter
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^\.]+)$ $1.html [L]